= form_for @question || Question.new do |f|
  .form-group
    = f.label :title
    = f.text_field :title, autofocus: true, autocomplete: :off, required: true, class: 'form-control'
  .form-group
    = label_tag :topic_name, 'Topic (Select a topic)'
    = select_tag :topic_id, options_from_collection_for_select(Topic.all, :id, :name), include_blank: true, class: 'form-control', prompt: 'Select a Topic'
  .form-group
    OR (enter a new topic)
    = text_field_tag :new_topic, nil, class: 'form-control', placeholder: 'New Topic'
  .actions
    = f.submit "Post Question", class: 'btn btn-sm btn-primary'
